// Create your own map

// Add custom colors
$custom-colors: (
  'primary': #0c1524,
  'secondary': #f61a30,
  'tertiary': #1a73e8,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Overriding spacers for margins and padding
$custom-spacers: (
  // Smaller than base
  4: $spacer * 0.25,
  // 4px
  8: $spacer * 0.5,
  // 8px
  12: $spacer * 0.75,

  // 12px
  // Base & near-base
  16: $spacer,
  // 16px
  20: $spacer * 1.25,
  // 20px
  24: $spacer * 1.5,

  // 24px
  // Medium spacing
  32: $spacer * 2,
  // 32px
  40: $spacer * 2.5,
  // 40px
  48: $spacer * 3,

  // 48px
  // Large spacing
  56: $spacer * 3.5,
  // 56px
  64: $spacer * 4,
  // 64px
  72: $spacer * 4.5,
  // 72px
  80: $spacer * 5,

  // 80px
  // Extra large
  96: $spacer * 6,
  // 96px
  112: $spacer * 7,
  // 112px
  128: $spacer * 8 // 128px
);

$spacers: map-merge($spacers, $custom-spacers);

$custom-grid-breakpoints: (
  xs: 0,
  md: 640px,
  lg: 1024px,
);
$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
