.parallax {
  background-image: url('/src/assets/gif/it.gif');
  height: 70vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: rgba(12, 21, 36, 0.8);
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.resume-btn:hover {
  background: #f61a30;
  transform: translateY(-3px);
}

@include media-breakpoint-up(lg) {
  .parallax {
    height: 100vh;
  }
}