.projects {
  .action-btn {
    max-width: 200px;
    width: 100%;
    background: var(--bs-blue);
    color: white;
    padding: 15px;
    margin-top: 20px;
    display: block;
    border-radius: 30px;
    text-decoration: none;

    &:hover {
      background-color: $white-color;
      color: $black-color;
    }
  }

  &-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  > .container {
    max-width: 1520px;
    margin: 0 auto;
  }

  &-item {
    padding-top: 40px;
    border-top: 1px solid var(--bs-blue);
  }

  &-item-col {
    flex-direction: column;

    &-head {
      span {
        font-weight: $fontweight-regular;
      }

      h3 {
        font-weight: $fontweight-bold;
      }
    }

    &-body {
      flex-direction: column-reverse;
    }
  }

  .business-content {
    .description {
      padding-top: 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .projects {
    > .container {
      box-sizing: content-box;
    }

    &-item-col {
      justify-content: center;
      flex-direction: row;
      gap: 2%;

      &-head {
        width: 38%;
      }

      &-body {
        width: 100%;
        flex-direction: row;
        gap: 2%;
      }
    }

    .business-content {
      margin-top: 0;

      .description {
        padding-top: 0;
      }
    }

    .business-content,
    .business-img {
      width: 55%;
    }
  }
}
