html {
  scroll-padding-top: 100px;
}

strong {
  font-weight: $fontweight-bold;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// Sticky Header
header {
  position: sticky;
  top: 0;
  z-index: 99;
}

// Navigation Link Styles
.nav-link {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $white-color;

  &:hover {
    color: $secondary-color;
  }
}

// Button Link
.get-in-touch {
  display: block;
  width: fit-content;
  margin-top: 30px;
  padding: 20px;
  border-radius: 32px;
  color: $white-color;
  background-color: $secondary-color;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--link_font-family);
  line-height: var(--link_line-height-base);
  box-shadow: 0 0 7px var(--link_box-shadow-color);

  &:hover {
    color: $primary-color;
    background-color: $white-color;
  }
}

// Animate on Scroll
.animate {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &.animate-active {
    opacity: 1;
    transform: translateY(0);
  }
}

// Top Navigation Styles
.topnav {
  overflow: hidden;
  background-color: $tertiary-color;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: $grey-color;
      color: black;
    }

    &.active {
      background-color: var(--bs-body-bg);
      color: var(--bs-body-color);
    }
  }

  .icon {
    display: none;
  }

  // Responsive styles
  &.responsive {
    position: relative;

    a {
      float: none;
      display: block;
      text-align: left;
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // Media Queries for Mobile
  @media screen and (max-width: 600px) {
    a:not(:first-child) {
      display: none;
    }

    a.icon {
      float: right;
      display: block;
    }

    &.responsive {
      a:not(:first-child) {
        display: block;
      }
    }
  }
}
