body.light-mode {
  --bs-body-bg: $white-color;
  --bs-body-color: $primary-color;

  .topnav a.active {
    background-color: $white-color;
    color: $secondary-color;
  }

  .about-me .container {
    color: $secondary-color;
  }

  .projects {
    .action-btn {
      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }

  .icon-text-column {
    color: black;
  }

  .get-in-touch {
    &:hover {
      color: $white-color;
      background-color: $primary-color;
    }
  }

  .contact-us-section {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
  }
}

#theme-switcher {
  display: none;
}

.switch {
  width: fit-content;
  padding: 10px;
  background-color: rgb(46, 46, 46);
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  transition: all 0.7s;
  position: fixed;
  left: 1%;
  top: 50%;

  svg {
    height: 20px;
    transform: scale(1.5);
  }
}

#theme-switcher:checked +  .switch {
  background-color: $yellow-color;
  box-shadow: 0px 0px 100px $white-color;
}

